{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>

{% block content %}
<html>
    <body>
        




        <h1>WELCOME TO  MY HOME:</h1>
        <h2>more winning</h2>
    </body>
</html>
<body>

  
  <div class="slideshow-container">
  
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static 'images/slider-main/bg1.jpg' %}" style="width:100%">
    <div class="text">project one</div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static 'images/slider-main/bg2.jpg' %}" style="width:100%">
    <div class="text">Project two</div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static 'images/slider-main/bg3.jpg' %}" style="width:100%">
    <div class="text">project Three</div>
  </div>
  
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
  </div>
  
  <script>
  let slideIndex = 0;
  showSlides();
  
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 0 second
  }
  </script>
  
  </body>
  </html> 
{% endblock %}


