{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="slideshow-container">
  
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="{% static 'images/slider-main/bg1.jpg' %}" style="max-height: 1000px; max-width: 2000px;">
      <div class="text">project one</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="{% static 'images/slider-main/bg2.jpg' %}" style="max-height: 1000px; max-width: 2000px;">
      <div class="text">Project two</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="{% static 'images/slider-main/bg3.jpg' %}" style="max-height: 1000px; max-width: 2000px;">
      <div class="text">project Three</div>
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
    
    <script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 0 second
    }
    </script>
    <hr>
    <section class="call-to-action-box no-padding">
        <div class="container">
          <div class="action-style-box">
              <div class="row align-items-center">
                <div class="col-md-8 text-center text-md-left">
                    <div class="call-to-action-text">
                      <h3 class="action-title">We understand your needs on projects</h3>
                    </div>
                </div><!-- Col end -->
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                    <div class="call-to-action-btn">
                      <a class="btn btn-dark" href="#">login/sign up</a>
                    </div>
                </div><!-- col end -->
              </div><!-- row end -->
          </div><!-- Action style box -->
        </div><!-- Container end -->
      </section><!-- Action end -->
    
    </body>
    </html> 

          {% for project in playground %}
          <div class="row shuffle-wrapper">
            <div class="col-1 shuffle-sizer"></div>
  
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="{{project.imageURL}}">
                  <img class="img-fluid" src="{{project.imageURL}}" alt="project-image" style="height: 500px; width: 500px;">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="Project/{{project.id}}">{{project.title}} {% if project.topRated %}<strong>TOP RATED</strong> {% endif %}</a>
                    </h3>
                    
                    <div class="project-cat">
                      {% for tag in project.tags.all %}
                      <span class="tag tag--pill tag--main">
                        <small>{{tag.name}}</small>
                      </span>
                      <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <table>
                 <td>
                <div class="call-to-action-btn">
                  <a class="btn btn-primary" href="Project/update/{{project.id}}">Edit</a>
                </div>
                 </td>
                 <td>
                    <div class="call-to-action-btn">
                      <a class="btn btn-primary" href="Project/Delete/{{project.id}}">Delete</a>
                    </div>
                 </td>
              </table>
            </div><!-- shuffle item 1 end -->
              {% endfor %}
              <hr>
  
  
        <div class="col-12">
          <div class="general-btn text-center">
            <a class="btn btn-primary" href="/Projects/">Projects Home</a>
          </div>
        </div>
        
      </div><!-- Content row end -->
  
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
 

{% endblock %}